/*=========== RESET ==========*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/* ==== CABECALHO ==== */
.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background: #0072ff;
}

.logo {
    width: 56px;
    height: 56px;
    float: left;
    background: url(../img/logo.png) center center/56px no-repeat;
    font-size: 0;
}


.btn-menu {
    width: 56px;
    height: 56px;
    float: right;
    text-align: center;
    color: white;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right,#000000, #434343);
}

.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
}

.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align: center;
}

.menu li {
    padding: 1.5%;
}

.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li a:hover {
    border: 1px solid blue;
}

@media screen and (min-width: 480px){
    .logo {
        width: 214px;
        background: url(../img/logo.png) center center/68px no-repeat;
    }
    .btn {
        font-size: 2em;
    }
}

@media screen and (min-width: 1280px) {
    .btn-menu {
        display: none;
    }

    .btn-close {
        display: none;
    }

    .menu {
        width: auto;
        height: 56px;
        line-height: 56px;
        float: right;
        background-color: #0052D4;
        border-radius: 15px;
        display: block !important;
        position: static;
    }

    .menu li {
        padding: 0;
        float: left;
    }

    .menu li a {
        color: white;
        font-size: 1em;
        padding: 15px;
    }

    .menu li a:hover {
        border: none;
        color: black;
    }
}